<div class='movies' *ngIf ="movies.length > 3; else needMoreMovies">
    <div class='movies col-4'>
        <h3>Movies to Watch</h3>
        <ol>
           <li *ngFor ="let movie of movies">{{movie}}</li>
        </ol>
        <hr>
        <input #newMovie (keyup)='true' type='text' placeholder="Enter Movie Title Here"/>
        <p>{{newMovie.value}}</p>
     </div><input type='text' placeholder="Enter Movie Title Here"/>
<ng-template #needMoreMovies>
    <div class='movies'>
        <h3>Not Enough Movies!</h3>
        <p>You only have {{movies.length}} movies on your watch list!</p>
        <p>What's up with that?</p>
        <p>You need to purchase expensive popcorn more often.</p>
    </div>    
</ng-template>